

<div class="row" id="topbar"><div class="col-md-4"><button class="mat-raised-button">Home</button></div><div class="col-md-4" align="center"><h6>Golden Lion</h6></div><div class="col-md-4"></div></div>
<br><br><br>

<div class="container"  style="background-color: rgb(247, 245, 239);">


<div class="row">

    <div class="col-md-3">
        <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              CEO/Co-Founder
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Thilak Karunarathne</p>
          
         
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Team Members
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>First Person</p>
        </mat-expansion-panel>

      </mat-accordion></div>    
      <div  align ="center" class="col-md-9">
          
                <div align="center" [innerHtml]="iframe_html" class="video-player embed-responsive embed-responsive-16by9">
                </div>
            
      </div>

</div>

<br>
<br>

<div class="row">
  <div align="center" class="col-md-3"></div><div class="col-md-3 button button-responsive">
    <!--Youtube-->
    <button type="button" class="btn btn-yt waves-light mat-raised-button"><img class="img-responsive" src="./../assets/pictures/youtube.png" /></button></div>
    
  <div align="center" class="col-md-2"></div><div class="col-md-3">
    <!--Facebook-->
    <button type="button" class="btn btn-fb waves-light"><img class="img-responsive" src="./../assets/pictures/facebook.png" /></button></div>
</div>



<div class="row col-md-12">Recent Work</div>
<div class="demo-border">
    <div class="demo-one"
      dragScroll
      drag-scroll-y-disabled="true"
      scrollbar-hidden="true"
      (reachesLeftBound)="leftBoundStat($event)"
      (reachesRightBound)="rightBoundStat($event)"
      #nav
      >
      <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
      <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
      <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
      <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
      <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
      
   </div>
</div>
<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">left</button>
  <button mat-raised-button color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">right</button>
</div>

  

<div class="row col-md-12 title">Other Art Work</div>
    
        <div class="demo-border">
            <div class="demo-one"
              dragScroll
              drag-scroll-y-disabled="true"
              scrollbar-hidden="true"
              (reachesLeftBound)="leftBoundStat($event)"
              (reachesRightBound)="rightBoundStat($event)"
              #nav
              >
              <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
              <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
              <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
              <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
              <img class=" videoLink " align="center" [src]="this.youtubeImage['__zone_symbol__value']['link']" (click)="clickItem(image)"/>
              
           </div>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" [disabled]="leftNavDisabled" (click)="moveLeft()">left</button>
          <button mat-raised-button color="primary" [disabled]="rightNavDisabled" (click)="moveRight()">right</button>
      </div>

    

</div>

<br>
<div class="=row">
    
          <div *ngIf="true" align="center">
              <app-contact-component></app-contact-component>
          </div>
    

</div>

<!-- *ngFor="let image of imagelist" -->

