<div class="container" style="background-color: rgb(245, 209, 6);">
<button mat-button>Home</button>

<div class="row"><div class="col-md-4"></div><div class="col-md-4" align="center"><h1>Golden Lion</h1></div><div class="col-md-4"></div></div>

<div class="row">

    <div class="col-md-3">
        <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

      </mat-accordion></div>    
      <div  align ="center" class="col-md-9">
          
                <div align="center" class="video-player embed-responsive embed-responsive-16by9">
                    <!-- <div class="" id="video" [innerHtml]="iframe_html"></div> -->
                    <iframe src="https://www.youtube.com/embed/iHhcHTlGtRs" frameborder="0" allowfullscreen></iframe>
                </div>
            
    </div>

</div>

<div class="row col-md-12 h1">
    <label>Recent Work</label>
</div>
<div class="row">
    <div class="col-md-3 "><div  align ="center" class="embed-responsive embed-responsive-16by9"><div class="embed-responsive-item" [innerHtml]="iframe_html"></div></div></div>
    <div class="col-md-3 "><div  align ="center" class="embed-responsive embed-responsive-16by9"><div class="embed-responsive-item" [innerHtml]="iframe_html"></div></div></div>
    <div class="col-md-3 "><div  align ="center" class="embed-responsive embed-responsive-16by9"><div class="embed-responsive-item" [innerHtml]="iframe_html"></div></div></div>
    <div class="col-md-3 "><div  align ="center" class="embed-responsive embed-responsive-16by9"><div class="embed-responsive-item" [innerHtml]="iframe_html"></div></div></div>
</div>

<!-- <div class="row col-md-12 h1">
        <label>Other Art Work</label>
</div>
    <div class="row">
        <div class="col-md-3 video-player"><div  align ="center" class="play-icon tf-ion-ios-play"><div class="embed-responsive-item" [innerHtml]="iframe_html"></div></div></div>
        <div class="col-md-3 video-player"><div  align ="center" class="play-icon tf-ion-ios-play"><div class="embed-responsive-item" [innerHtml]="iframe_html"></div></div></div>
        <div class="col-md-3 video-player"><div  align ="center" class="play-icon tf-ion-ios-play"><div class="embed-responsive-item" [innerHtml]="iframe_html"></div></div></div>
        <div class="col-md-3 video-player"><div  align ="center" class="play-icon tf-ion-ios-play"><div class="embed-responsive-item" [innerHtml]="iframe_html"></div></div></div>
    </div> -->

   <!-- {{videoLink}} -->

</div>

<!-- <div class="col-md-6">
        <div class="video-player" style="padding: 1px;">
            <div class="">
                    <div class="embed-responsive-item" [innerHtml]="iframe_html"></div>
            </div>
        </div>
 </div> -->