

  <div class="">
      <h2 class="intro-title">Contact Us</h2>
      <form class="well form-horizontal" action=" " method="post" id="contact_form">
          <div class="col-lg-12 spacer">
              <div class="fadeIn-1">
                  <p>
                      <strong>Contact us</strong>
                      <br />
                      111.222.3333
                      <br />
                      <a href="mailto:information@mysite.com">information@mysite.com</a>
                  </p>
              </div>
              <br />
              <div class="fadeIn-2">
                  <p>
                      <strong>Office 1</strong>
                      <br />
                      Our street address
                      <br />
                      City, state, zip
                  </p>
              </div>
              <br />
              <div class="fadeIn-3">
                  <p>
                      <strong>Office 2</strong>
                      <br />
                      street address
                      <br />
                      City, state, zip
                  </p>
              </div>
          </div>
          <fieldset>

              <!-- Form Name -->
              <legend>Send us a message</legend>

              <!-- Text input-->

              <div class="form-group">
                  <!--<label class="col-md-4 control-label">First Name</label>-->
                  <div class="col-md-6 inputGroupContainer">
                      <div class="input-group animated-delay-1">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input
                              name="name"
                              placeholder="Name"
                              class="form-control"
                              type="text">
                      </div>
                  </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                  <!--<label class="col-md-4 control-label">E-Mail</label>-->
                  <div class="col-md-6 inputGroupContainer">
                      <div class="input-group animated-delay-2">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                          <input
                              name="email"
                              placeholder="E-Mail Address"
                              class="form-control"
                              type="text">
                      </div>
                  </div>
              </div>


              <!-- Text input-->

              <div class="form-group">
                  <!--<label class="col-md-4 control-label">Phone #</label>-->
                  <div class="col-md-6 inputGroupContainer">
                      <div class="input-group animated-delay-3">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                          <input
                              name="phone"
                              placeholder="(801)222-3333"
                              class="form-control"
                              type="text">
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <!--<label class="col-md-4 control-label">Subject</label>-->
                  <div class="col-md-6 inputGroupContainer">
                      <div class="input-group animated-delay-4">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-bookmark"></i></span>
                          <input
                              name="subject"
                              placeholder="Subject"
                              class="form-control"
                              type="text">
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <!--<label class="col-md-4 control-label">Message</label>-->
                  <div class="col-md-6 inputGroupContainer">
                      <div class="input-group animated-delay-5">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                          <textarea
                              rows="9"
                              class="form-control"
                              name="comment"
                              placeholder="Message">
                          </textarea>
                      </div>
                  </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                  <div class="col-md-4">
                      <button
                          type="submit"
                          class="btn btn-primary">Send 
                          <span class="glyphicon glyphicon-send"></span>
                      </button>
                  </div>
              </div>
          </fieldset>
      </form>
  </div>


